



div {
	outline: 1px solid green;
}


svg {
	outline: 3px solid orange;
}

.chart {
  height: 500px;
  position: relative;
}

.tt {
    background-color: #fff;
    padding: 8 px;
    outline: 1px solide #ccc;
    display: none;
    position: aboslute;
}

.g {
    color: ccc;
}





/* Axis styles */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}